.banner {
    background: url(https://i.pinimg.com/564x/4f/74/2a/4f742a0c02cd55bfa73496b94515d21d.jpg) 
    no-repeat center center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    color:white
}

